.root {
    position: relative;
    top: 145px;
    .container-fluid {
        padding: 0 30px;
    }
}

.header {
    &__grid {
        margin: auto;
    }
}
.item {
    background-color: #EFEFEF;
    border-radius: 5px;
    display: inline-table;
    width: 240px;
    float: left;
    padding: 10px;
    margin: 5px;
    img {
        max-width: 100%;
        border-radius: 5px;
    }
}